@font-face {
  font-family: "SourceSans3";
  src:
    url("/SourceSans3.woff2") format("woff2"),
    url("/SourceSans3.woff") format("woff");
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "SourceSans3-Italic";
  src:
    url("/SourceSans3-Italic.woff2") format("woff2"),
    url("/SourceSans3-Italic.woff") format("woff");
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "SourceSerif4";
  src:
    url("/SourceSerif4.woff2") format("woff2"),
    url("/SourceSerif4.woff") format("woff");
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "SourceSerif4-Italic";
  src:
    url("/SourceSerif4-Italic.woff2") format("woff2"),
    url("/SourceSerif4-Italic.woff") format("woff");
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}
