@font-face {
  font-family: "SourceSans3";
  src: url("/fonts/SourceSans3-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "SourceSans3-Italic";
  src: url("/fonts/SourceSans3-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "AbrilFatface";
  src: url("/fonts/AbrilFatface-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SourceSerif4";
  src: url("/fonts/SourceSerif4-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: "SourceSerif4-Italic";
  src: url("/fonts/SourceSerif4-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}
