@use "./fonts";
@import "primeicons/primeicons.css";

// :root {
//   --p-button-primary-background: magenta;
//   --p-button-primary-bordercolor: #0f0f0f;
// }

// html.dark {
//   --p-button-primary-background: cyan;
//   --p-button-primary-bordercolor: #ffffff;
// }

html {
  background: #fefefe;
}

html.dark {
  background: #121212;
}

body {
  font-family: "SourceSans3", sans-serif;
}

h1,
h2,
h3 {
  font-family: "SourceSerif4", serif;
  font-weight: 900;
}
