@use "./fonts";
@import "primeicons/primeicons.css";

html {
  background: #fefefe;
}

html.dark {
  background: #121212;
}

body {
  font-family: "SourceSans3", sans-serif;
}

h1,
h2,
h3 {
  font-family: "SourceSerif4", serif;
  font-weight: 900;
}
